* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  background: #d8effc;
  -webkit-font-smoothing: antialiased;
}

button {
  font: inherit;
}
